<h1>Ordem de Venda</h1>
<%= form_with url: "/pdv/get_products", remote: true, method: 'get' do |form| %>
  <div class='col s6 padz'>
    <div class="input_field">
      <%= form.label :customer, 'Cliente'%>
      <%= form.select :customer, 
    options_for_select(@customers) %>
    </div>
  </div>
    <div class="input_field">
    <%= form.label :origin, "Origem" %>
    <%= form.select :origin,  
    options_for_select(@origins)%>
  </div>
  <br>
  <div class="input_field">
    <label for="pdv_request_ahead">
      <input name="pdv[request_ahead]" type="hidden" value="0">
      <input type="checkbox" value="1" name="pdv[request_ahead]" id="pdv_request_ahead">
      <span>Encomenda </span>
    </label>
  </div>
  <br>
  <div class='row'>
    <div class='col s6 padz'>
      <div class="input_field">
        <%= form.label :pdv_product, 'Produto'%>
        <%= form.select :product_id, 
      options_for_select(@products) %>
      </div>
    </div>
    <div class='col s6 center' id='pdv_button'>
      <div class="input_field inline">
        <%= form.button '<i class="material-icons left">add_shopping_cart</i>Adicionar'.html_safe, class: "blue-grey btn waves-effect waves-light" %>
      </div>
    </div>
  </div>
<% end %>
<table class="centered highlight">
  <thead>
    <tr>
      <th>Cod.</th>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Valor</th>
      <th>Subtotal</th>
      <th>Apagar</th>
    </tr>
  </thead>
  <tbody id="pdv_product_list">
  </tbody>
<tfoot>
<tr>
<td colspan="4"><h5>Total</h5></td>
<td id="pdv_total" class='center-align'><h5>0</h5></td>
<td></td>
</tr>
<tr>
<td colspan="2"><h5>Pagamento</h4></td>
<td colspan="2" class='pdv_input'><%= select_tag "payment", options_for_select(PaymentMethod.all.map { |e| [e.name, e.id] })%></td>
<td class="center-align"><span><input id="pdv_pagamento" type="number" class='pdv_input' value="0"></span></td>
<td></td>
</tr>
<tr>
<td colspan="4"><h5>Troco</h5></td>
<td id="pdv_troco" class="center-align"><h5>0</h5></td>
<td><%= link_to 'Concluir', '#', class: "blue-grey btn waves-effect waves-light", id: "pdv_finish"%></td>
</tr>
</tfoot>
</table>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Venda Concluída com Sucesso!</h4>
      <p>Click em OK para executar a próxima venda.</p>
    </div>
    <div class="modal-footer">
      <a href="/pdv" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>