<%= form_with(model: request, local: true) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>
      <ul>
        <% request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <div class="input_field">
      <%= form.label :cliente%>
      <%= form.select :customer_id, 
      options_for_select(Customer.select(:name, :id).map { |e| [e.name, e.id]}) %>
    </div>
  </div>
  <div class="input_field">
    <label for="request_delivery">
      <input name="request[delivery]" type="hidden" value="0">
      <input type="checkbox" value="1" name="request[delivery]" id="request_delivery" <%= request.delivery ? "checked" : "" %>>
      <span>Para entrega</span>
    </label>
  </div>
  <div class="input_field">
    <%= form.label :items %>
    <%= form.text_area :items, class: "materialize-textarea" %>
  </div>
  <div class="row">
    <div class="padz input_field col s3">
      <%= form.label :delivery_date, 'Data de Entrega' %>
      <%= form.text_field :delivery_date, class:'datepicker' %>
    </div>
  </div>
  <div class="actions">
    <%= form.button '<i class="material-icons right">save</i>Salvar'.html_safe, class: "blue-grey btn waves-effect waves-light" %>
  </div>
<% end %>
