<p id="notice"><%= notice %></p>

<h1>Vendas</h1>

<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Valor</th>
      <th>Tipo de Pagamento</th>
      <th>Origem</th>
      <th>Encomenda</th>
      <th>Itens</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= link_to customer_path(order.customer_id) do%>
        <%= order.customer.name %>
        <% end %>
      </td>
      <td><%= "R$ %0.2f" % [order.value] %></td>
      <td><%= order.payment %></td>
      <td><%= order.origin %></td>
      <td><%= order.request_ahead ? 'Sim' : 'Não'%></td>
      <td><%= link_to 'Abrir', order_items_list_items_path(id: order.id) %></td>
      <td><%= link_to 'Exibir', order_path(order.id) %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <h5>Total</h5>
      </td>
      <td class='center-align'>
        <h5><%= "R$ %0.2f" % [@orders.reduce(0) { |sum, e| sum += e.value }] %></h5>
      </td>
      <td></td>
    </tr>
  </tfoot>
</table>