<p id="notice"><%= notice %></p>

<h1>Detalhamento dos Pedidos</h1>

<table>
  <thead>
    <tr>
      <th>Ordem</th>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Valor</th>
      <th>Total</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_items.each do |order_item| %>
      <tr>
        <td><%= link_to order_path(order_item.order_id) do%>
              <%= order_item.order_id %>
          <% end %>
        </td>
        <td><%= order_item.product.nome %></td>
        <td><%= order_item.quantity %></td>
        <td><%= "R$ %0.2f" % [order_item.value] %></td>
        <td> <%= "R$ %0.2f" % [order_item.quantity * order_item.value] %></td>
        <td><%= link_to 'Exibir', order_item %></td>
      </tr>
    <% end %>
  </tbody>
</table