<p id="notice"><%= notice %></p>

<h1>Despesas</h1>
<%= link_to '<i class="material-icons left">receipt</i>Nova despesa'.html_safe, 
            new_expense_path, 
            class: "blue-grey btn waves-effect waves-light" %>

<table>
  <thead>
    <tr>
      <th>Tipo de Despesa</th>
      <th>Obs</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.kind_of_expense %></td>
        <td><%= expense.obs %></td>
        <td><%= expense.value %></td>
        <td><%= link_to 'Exibir', expense %></td>
        <td><%= link_to 'Editar', edit_expense_path(expense) %></td>
        <td><%= link_to 'Apagar', expense, method: :delete, data: { confirm: 'Tem certeza que deseja apagar o registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


